.items-container {
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.items-header {
  margin-bottom: 10px;
  font-size: var(--fontSmall);
}

@media screen and (max-width: 375px) {
  .items-header {
    font-size: var(--fontXSmall);
  }
}