.card-container {
    background-color: var(--medBlue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-radius: 4px;
    transition: 150ms ease-in;
    animation: animateCard 900ms;
    overflow: hidden;
}

.card-container img {
    display: block;
    position: relative;
    object-fit: cover;
    height: 307px;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform .3s;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-container img:hover {
    transform: scale(1.02);
    transition: 200ms ease-in-out;
}
  
.container {
    text-align: center;
    padding: 10px 20px;
}

.container h1 {
    margin: 0;
    padding: 0 20px;
    font-size: var(--fontMed);
    letter-spacing: 1.5px;
}

@keyframes animateCard {
    from {
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
} 