@import url(
  'https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Poppins:ital,wght@0,300;1,400&display=swap'
  );

:root {
  --maxWidth: 1190px;
  --white: #fff;
  --darkBlue: #141c3a;
  --medBlue: #30448d;
  --black: #000;
  --fontSuperBig: 2.5rem;
  --fontBig: 1.7rem;
  --fontMed: 1.2rem;
  --fontSmall: 1rem;
  --fontXSmall: 0.9rem;
  --fontSuperSmall: 0.8rem;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--darkBlue);
  color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}
